@{
    ViewData["Title"] = "Home Page";
}
<div id="sidebar">
<img src="~/images/images.jpg" alt="headshot" class="headshot" />
<span id="username">hatings</span>
<ul class="menu">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>
    </div>
<div id="wrapper">
    <div id="main">
        <div>
            <button id="sidebarToggle">Toggle Menu</button>
        </div>
        <h1> World</h1>
        <p>This will be a fun website soon</p>
        <form>
            <div>
                <label>Date</label>
                <input />
            </div>
            <div>
                <label>Location</label>
                <input />
            </div>
            <div><input type="submit" value="ADD" /></div>
        </form>

    </div>
    <div id="footer">
        &copy;2016 The World LTD
    </div>
</div>
